@import "tailwindcss";

@theme {
  /* paleta */
  --color-vittas-beige: #CCC5B7;
  --color-vittas-sand: #E5BB89;
  --color-vittas-brown: #6F5D44;
  --color-vittas-white: #FFFFFF;
  --color-vittas-nav: #fdf7ec;



  /* Tipografias */
  --font-serif: var(--font-playfair-display), serif;
  --font-sans: var(--font-inter), sans-serif;

  /* Animaciones */
  --keyframes-slide-in: {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  };
  --animation-slide-in: slide-in 0.3s ease-out;
  --animate-marquee-infinite: marquee-infinite 25s linear infinite;
  --animate-marquee-infinite-reverse: marquee-infinite 25s linear infinite reverse;

}

:root {
  --background: #FFFFFF;
  --foreground: #6F5D44;
}

/* modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #CCC5B7;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-serif);
  letter-spacing: -0.02em;
}

/* Clases para el Carrito */
.cart-open {
  transform: translateX(0);
}

.cart-closed {
  transform: translateX(100%);
}

@keyframes marquee-infinite {
  0% { transform: translateX(0); }
  100% { transform: translateX(-25%); }
}
